
$primary   : #18324D;
$secondary : #2d728f;
$table     : #1B396A;
$accent    : #f1c15d;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #116C41;
$negative  : #f46b7b;
$info      : #31CCEC;
$warning   : #F2C037;

$yyellow   : #f1c15d;

$blackpink : #E4007C;
