
$primary   : #18324D;
$secondary : #06587b;
$table     : #1B396A;
$accent    : #75f8e2;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #116C41;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
